    <title>Offline TV Store</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/images/OfflineTVLogo.png" alt="OfflineTV" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/videos">Videos
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/members">Members
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Store
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/store/offlinetv">Offline TV</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/store/disguised-toast">Disguised Toast</a>
                        <a class="dropdown-item" href="/store/pokimane">Pokimane</a>
                        <a class="dropdown-item disabled" href="#" style="cursor: wait;">Fedmyster</a>
                        <a class="dropdown-item disabled" href="#" style="cursor: wait;">Lilypichu</a>
                    </div>
                </li>
            </ul>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.reddit.com/r/offlineTV/">
                <img src="https://i.imgur.com/1Jw7oU7.png" width="35" height="35" alt="Reddit">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.youtube.com/channel/UCDK9qD5DAQML-pzrtA7A4oA">
                <img src="https://i.imgur.com/Ri73JhH.png" width="35" height="35" alt="Youtube">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.instagram.com/offlinetvgg">
                <img src="https://i.imgur.com/9PHyms0.png" width="35" height="35" alt="Instagram">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://twitter.com/offlinetvgg">
                <img src="https://i.imgur.com/Amwt37w.png" width="35" height="35" alt="Twitter">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.facebook.com/OfflineTVgg">
                <img src="https://i.imgur.com/ZvtUG96.png" width="35" height="35" alt="Facebook">
            </a>
            <!-- <button class="btn btn-outline-secondary my-2 my-sm-0 disabled" type="submit">Login</button> -->
        </div>
    </nav>
<!-- Page Starts Here -->

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center mt-4">
			<p>Offline TV</p>
		</div>
	</div>
	<div class="row">
		{{#each data}}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-2">
			<div class="product">
				<a href="https://teespring.com{{url}}">
					<div class="card">
						<img class="card-img-top" src="{{image_url}}" alt="{{name}}">
						<div class="card-body">
							<h5 class="card-title">{{name}}</h5>
							<p class="card-text">{{product_name}}</p>
							<p class="card-text">{{price}}</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		{{/each}}
	</div>
</div>