<div class="container">
	<div class="row my-1">
		{{#each data}}
		<div class="col-xs-1 col-sm-4 col-md-4 col-lg-3 my-1 mx-0">
			<div class="card">
				<img class="card-img-top img-fluid" style="max-width: 100%; height: auto;" src="{{profilePicture}}" alt="{{Name}}">
				<div class="card-body">
					<h5 class="card-title">{{Name}}</h5>
					<p class="card-text">{{Description}}</p>
					<a class="SocialMediaLinks" href="{{twitchUrl}}">
						<img style="max-width: 30px; height: auto;" src="/images/social-media/twitchLogo.png" alt="TwitchTV" />
					</a>
					<a class="SocialMediaLinks" href="{{twitchUrl}}">
						<img style="max-width: 30px; height: auto;" src="/images/social-media/discordLogo.png" alt="Discord" />
					</a>
					<a class="SocialMediaLinks" href="{{youtubeUrl}}">
						<img style="max-width: 30px; height: auto;" src="/images/social-media/youtubeLogo.png" alt="Youtube" />
					</a>
					<a class="SocialMediaLinks" href="{{instagramUrl}}">
						<img style="max-width: 30px; height: auto;" src="/images/social-media/instagramLogo.png" alt="Instagram" />
					</a>
					<a class="SocialMediaLinks" href="{{twitterUrl}}">
						<img style="max-width: 30px; height: auto;" src="/images/social-media/twitterLogo.png" alt="Twitter" />
					</a>
					<a class="SocialMediaLinks" href="{{facebookUrl}}">
						<img style="max-width: 30px; height: auto;" src="/images/social-media/facebookLogo.png" alt="Facebook" />
					</a>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>