    <title>Offline TV Members</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/images/OfflineTVLogo.png" alt="OfflineTV" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/members">Members
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Store
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/store/offlinetv">Offline TV</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/store/disguised-toast">Disguised Toast</a>
                        <a class="dropdown-item" href="/store/pokimane">Pokimane</a>
                        <a class="dropdown-item disabled" href="#" style="cursor: wait;">Fedmyster</a>
                        <a class="dropdown-item disabled" href="#" style="cursor: wait;">Lilypichu</a>
                    </div>
                </li>
            </ul>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.reddit.com/r/offlineTV/">
                <img src="https://i.imgur.com/1Jw7oU7.png" width="35" height="35" alt="Reddit">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.youtube.com/channel/UCDK9qD5DAQML-pzrtA7A4oA">
                <img src="https://i.imgur.com/Ri73JhH.png" width="35" height="35" alt="Youtube">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.instagram.com/offlinetvgg">
                <img src="https://i.imgur.com/9PHyms0.png" width="35" height="35" alt="Instagram">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://twitter.com/offlinetvgg">
                <img src="https://i.imgur.com/Amwt37w.png" width="35" height="35" alt="Twitter">
            </a>
            <a class="navbar-brand my-2 my-sm-0 SocialMediaLinks" href="https://www.facebook.com/OfflineTVgg">
                <img src="https://i.imgur.com/ZvtUG96.png" width="35" height="35" alt="Facebook">
            </a>
            <!-- <button class="btn btn-outline-secondary my-2 my-sm-0 disabled" type="submit">Login</button> -->
        </div>
    </nav>
<!-- Page Starts Here -->

<div class="container">
	<div class="row my-1">
		{{#each data}}
		<div class="col-xs-1 col-sm-6 col-md-4 col-lg-3 my-1 mx-0">
			<div class="card">
				<img class="card-img-top img-fluid" style="max-width: 100%; height: auto;" src="{{profilePicture}}" alt="{{Name}}">
				<div class="card-body">
					<h5 class="card-title">{{Name}}</h5>
					<p class="card-text">{{Description}}</p>
					<div class="row">
  						{{#if twitch}}
						<a class="SocialMediaLinks px-1 py-1" href="{{twitch}}">
							<img style="max-width: 30px; height: auto;" src="/images/social-media/twitchLogo.png" alt="TwitchTV" />
						</a>
						{{else}}

						{{/if}}
  						{{#if discord}}
						<a class="SocialMediaLinks px-1 py-1" href="{{discord}}">
							<img style="max-width: 30px; height: auto;" src="/images/social-media/discordLogo.png" alt="Discord" />
						</a>
						{{else}}

						{{/if}}
  						{{#if youtube}}
						<a class="SocialMediaLinks px-1 py-1" href="{{youtube}}">
							<img style="max-width: 30px; height: auto;" src="/images/social-media/youtubeLogo.png" alt="Youtube" />
						</a>
						{{else}}

						{{/if}}
  						{{#if instagram}}
						<a class="SocialMediaLinks px-1 py-1" href="{{instagram}}">
							<img style="max-width: 30px; height: auto;" src="/images/social-media/instagramLogo.png" alt="Instagram" />
						</a>
						{{else}}

						{{/if}}
  						{{#if twitter}}
						<a class="SocialMediaLinks px-1 py-1" href="{{twitter}}">
							<img style="max-width: 30px; height: auto;" src="/images/social-media/twitterLogo.png" alt="Twitter" />
						</a>
						{{else}}

						{{/if}}
  						{{#if facebook}}
						<a class="SocialMediaLinks px-1 py-1" href="{{facebook}}">
							<img style="max-width: 30px; height: auto;" src="/images/social-media/facebookLogo.png" alt="Facebook" />
						</a>
						{{else}}

						{{/if}}
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>